@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Lato&display=swap");
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(
        45deg,
        rgba(167, 156, 7, 0.3),
        rgba(63, 212, 241, 0.1)
      )
      no-repeat fixed center,
    url("./images/marvel-background-3.jpg")  no-repeat fixed center;
  background-size: cover;
  color: red;
  
}